<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Introduction
    </title>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="navbar">
        <a href="/">
            <div id="logo">statigen default template</div>
        </a>
    </div>
    <div id="body-area">
        <div id="sidebar">

            
                
                    <div class="folder">
                        <a class="name entry" href="/"></a>
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/index.html">Introduction</a>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/Adjusting Priority.html">Adjusting Priority</a>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <div class="folder">
                        <a class="name entry" href="/Getting Started\index.html">Getting Started</a>
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/Getting Started\index.html">Adding pages</a>
                
            
                            </div>
                        
                    </div>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <div class="folder">
                        <a class="name entry" href="/Advanced Topics\CustomizeTemplate.html">Advanced Topics</a>
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/Advanced Topics\CustomizeTemplate.html">Customizing the template</a>
                
            
                            </div>
                        
                    </div>
                
            
                            </div>
                        
                    </div>
                
            

            
        </div>
        <div id="content">
            <h1 id="introduction">Introduction</h1>
<p>This is the default page for your website. Notice the &quot;frontmatter&quot; block in the source code above (shown in the source code block below as well)? That&#39;s where you can specify any custom attributes that you want to have available in the template. They won&#39;t do anything unless the template is looking for them.</p>
<pre><code class="language-yaml"> ---
 title: Introduction
 ---
</code></pre>
        </div>
    </div>
    <script>hljs.highlightAll();</script>
</body>

</html>
