<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Customizing the template
    </title>
    <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <div id="navbar">
        <a href="/">
            <div id="logo">statigen default template</div>
        </a>
    </div>
    <div id="body-area">
        <div id="sidebar">

            
                
                    <div class="folder">
                        
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/index.html">Introduction</a>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/adjusting-page-priority.html">Adjusting Page Priority</a>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <div class="folder">
                        
                            <a class="name entry" href="/Getting Started\index.html">Getting Started</a>
                        
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/Getting Started\index.html">Adding pages</a>
                
            
                            </div>
                        
                    </div>
                
            
                            </div>
                        
                            <div class="children">
                                
                
                    <div class="folder">
                        
                            <a class="name entry" href="/Advanced Topics\customize-template.html">Advanced Topics</a>
                        
                        
                            <div class="children">
                                
                
                    <a class="entry" href="/Advanced Topics\customize-template.html">Customizing the template</a>
                
            
                            </div>
                        
                    </div>
                
            
                            </div>
                        
                    </div>
                
            

            
        </div>
        <div id="content">
            <a href="#customizing-the-template">
                            <h1 id="customizing-the-template" class="heading">Customizing the template</h1>
                        </a>
                    <p>The <code>_template.ejs</code> file is an ejs template. You can click <a href="https://ejs.co/">here</a> for more information</p>
        </div>
    </div>
    <script>hljs.highlightAll();</script>
</body>

</html>
